/* shared common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
main,
header {
  margin: 60px 130px;
}
/* header section styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-links ul {
  display: flex;
  gap: 24px;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
  font-weight: 400;
}
.nav-links li #home {
  color: #ff5400;
  font-weight: 700;
}
.logo-container h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-toggle {
  display: none;
}
.logo-container span {
  color: #ff5400;
}
/* section travel founding styles */
.travel-search {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 130px;
}
.travel-search-content {
  text-align: center;
}
.travel-search-content h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.travel-search-content p {
  color: #fff;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 48px;
}
.travel-form-holder {
  display: flex;
  justify-content: center;
}
.travel-search-holder {
  display: inline-flex;
  justify-content: center;
  gap: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.travel-search-holder input,
.travel-search-holder select,
.travel-search-holder .btn button {
  border-radius: 8px;
  background-color: #fff;
  padding: 14px 16px;
  width: 9.063vw;
  border: none;
  color: rgba(19, 19, 24, 0.5);
}
.travel-search-holder .btn button {
  background-color: #ff5400;
  color: #fff;
}
.travel-search-holder .btn .fa-solid {
  margin-right: 10px;
}
/* responsive styles for mobile */
@media screen and (max-width: 600px) {
  main,
  header {
    margin: 10px;
  }
  .nav-links ul {
    display: none;
  }
  .nav-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container h3,
  .travel-search-content h3  {
    font-size: 1.343rem;
  }
  .travel-search-content p{
    font-size: 0.875rem;
  }
  .travel-search-holder,
  .travel-form-holder {
    flex-direction: column;
  }
  .travel-search-holder input,
  .travel-search-holder select,
  .travel-search-holder .btn button{
    width: 100%;
  }
  .travel-search {
    padding: 10px 15px;
  }
}
/* responsive styles for desktop */
@media screen and (min-width: 99px) {
}
