/* shared common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
main,
header {
  margin: 60px 130px;
}
/* header section styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-links ul {
  display: flex;
  gap: 24px;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
  font-weight: 400;
}
.nav-links li #home {
  color: #ff5400;
  font-weight: 700;
}
.logo-container h3 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-toggle {
  display: none;
}
.logo-container span {
  color: #ff5400;
}
/* section travel founding styles */
.travel-search {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 130px;
  margin-bottom: 100px;
}
.travel-search-content {
  text-align: center;
}
.travel-search-content h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.travel-search-content p {
  color: #fff;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 48px;
}
.travel-form-holder {
  display: flex;
  justify-content: center;
}
.travel-search-holder {
  display: inline-flex;
  justify-content: center;
  gap: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.travel-search-holder input,
.travel-search-holder select,
.travel-search-holder .btn button {
  border-radius: 8px;
  background-color: #fff;
  padding: 14px 16px;
  width: 9.063vw;
  border: none;
  color: rgba(19, 19, 24, 0.5);
}
.travel-search-holder .btn button {
  background-color: #ff5400;
  color: #fff;
}
.travel-search-holder .btn .fa-solid {
  margin-right: 10px;
}
/* popular-tours section styles */
.popular-tours {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 100px;
}
.popular-tours h3 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.popular-tours p,
.popular-tours ul li {
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 24px;
}
.popular-tours ul {
  margin-left: 20px;
}
.popular-tours .more-btn button {
  border-radius: 8px;
  background-color: #ff5400;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  padding: 14px 35px;
}
/* destination section */
.destination {
  margin-bottom: 100px;
}
.destination-content,
.choose-content {
  text-align: center;
}
.destination-content h3,
.choose-content h3 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination-content p,
.choose-content p {
  color: rgba(19, 19, 24, 0.7);
  margin-top: 0;
  margin-bottom: 48px;
}
.img-container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.maldives {
  grid-column: 1 / span 6;
}
.indonesia {
  grid-column: 7 / span 6;
}
.srilanka {
  grid-column: 1 / span 4;
}
.na {
  grid-column: 5 / span 4;
}
.kashmir {
  grid-column: 9 / span 4;
}
.bd {
  grid-column: 1 / span 6;
}
.bandorban {
  grid-column: 7 / span 6;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
/* why choose us section styles */
.card-container .card {
  padding: 16px;
  width: 29.844vw;
}
.card-container .c1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
}
.card-container .c2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background-color: rgba(41, 206, 246, 0.05);
}
.card-container .c3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background-color: rgba(233, 68, 68, 0.05);
}
.card-container .two-card-holder {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-bottom: 48px;
}
.card-container .one-card-holder {
  display: flex;
  justify-content: center;
}
.card-container .card h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 16px;
}
.card-container .card p {
  color: #5a5a5d;
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  main,
  header {
    margin: 10px;
  }
  .nav-links ul {
    display: none;
  }
  .nav-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container h3,
  .travel-search-content h3,
  .destination-content h3,
  .choose-content h3 {
    font-size: 1.343rem;
  }
  .travel-search-content p,
  .destination-content p,
  .choose-content p {
    font-size: 0.875rem;
  }
  .card-container .one-card-holder, 
  .card-container .two-card-holder,
  .travel-search-holder,
  .travel-form-holder,
  .popular-tours {
    flex-direction: column;
  }
  .travel-search-holder input,
  .travel-search-holder select,
  .travel-search-holder .btn button,
  .popular-tours .column-2 img {
    width: 100%;
  }
  .img-container {
    grid-template-columns: 1fr;
  }
  .travel-search {
    padding: 10px 15px;
  }
  .maldives {
    grid-column: 1 / span 1;
  }
  .indonesia {
    grid-column: 1 / span 1;
  }
  .srilanka {
    grid-column: 1 / span 1;
  }
  .na {
    grid-column: 1 / span 1;
  }
  .kashmir {
    grid-column: 1 / span 1;
  }
  .bd {
    grid-column: 1 / span 1;
  }
  .bandorban {
    grid-column: 1 / span 1;
  }
  .card-container .card{
    width: 100%;
  }
}
